.liked-container {
  display: flex;
  margin: 3.6rem 4.8rem;
}

.page-heading {
  margin: 2.4rem 0 0 4.8rem;
  font-size: 3rem;
  font-family: "Nunito sans", cursive;
  font-weight: 700;
}

.aside-container {
  flex: 0 0 35%;
}

.aside-image-container {
  width: 32rem;
  height: 20rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.liked-list {
  flex: 0 0 max-content;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.liked-content {
  padding: 2.4rem 1.2rem;
}

.liked-content-heading {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.counter-container {
  font-size: 1.6rem;
}
